/* @import "tailwindcss"; */

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card > img {
  width: 40;
  height: 30;
}

.card > h4 {
  margin: 0px;
}

.card > p {
  margin: 0px;
}

.jiraBoard {
  display: inline-flex;
  max-width: 100%;
  width: 80%;
}

.jiraColumn {
  width: 33%;
}

.jiraDivider {
    margin-left: 0 !important;
    width: 100%;
    min-width: 100%;
}
